.Urna {
  background-color: #d7d3c7;
  width: 90%;
  height: 60vh;
  margin: 70px 50px 50px 50px;
  border: 3px solid #999;
  display: flex;
  position: relative;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.UrnaTela {
  background-color: #f5f5f5;
  width: 65%;
  height: 80%;
  margin: 50px 10px 50px 50px;
  border: 2px solid #cdcdcd;
  border-radius: 2px;
  display: flex;
}

.UrnaTela .Entrada {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.UrnaTela .Entrada p,
.UrnaTela .Entrada h2 {
  text-align: left;
  color: #181818;
}

.UrnaTela .Entrada h2 {
  margin-left: 70px;
  font-size: 1.4em;
}

.UrnaTela .Entrada .Digitos {
  display: flex;
  margin-bottom: 10px;
}

.UrnaTela .Entrada .Digitos .Digito input {
  width: 40px;
  height: 70px;
  margin-left: 5px;
  padding: 0;
  outline: none;
  background-color: transparent;
  font-size: 3em;
  border: 1px solid #999;
  text-align: center;
}

.UrnaTela .Entrada .Dados {
  border-bottom: 2px solid #cdcdcd;
}

.UrnaTela .Entrada .Instrucoes {
  margin-top: 20px;
  color: #c9c9c9;
  font-size: 0.8em;
}

.UrnaTela .Informacoes .Candidato {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.UrnaTela .Informacoes .Candidato img:first-child {
  width: 250px;
  height: 250px;
  border: 2px solid #181818;
}

.UrnaTela .Informacoes .Candidato img:last-child {
  width: 150px;
  height: 150px;
  border: 2px solid #181818;
}

.Urna .UrnaTeclado {
  background-color: #666;
  width: 35%;
  height: 80%;
  margin: 50px;
  border: 2px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Urna .UrnaTeclado .Teclas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  align-self: center;
}

.Urna .UrnaTeclado .Teclas .Numeros {
  padding: 5px 20px;
  height: 50px;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #282828;
  border: none;
  box-shadow: 0 9px #494949;
  border-radius: 5px;
  margin: 10px;
}

.Urna .UrnaTeclado .Teclas .Numeros:hover {
  background-color: #313131;
}

.Urna .UrnaTeclado .Teclas .Numeros:active {
  background-color: #282828;
  box-shadow: 0 5px #494949;
  transform: translateY(4px);
}

.Urna .UrnaTeclado .Acoes {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.Urna .UrnaTeclado .Acoes .Confirma {
  padding: 5px 10px;
  height: 50px;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px green;
}

.Urna .UrnaTeclado .Acoes .Confirma:hover {
  background-color: #3e8e41;
}

.Urna .UrnaTeclado .Acoes .Confirma:active {
  background-color: #3e8e41;
  box-shadow: 0 5px green;
  transform: translateY(4px);
}

.Urna .UrnaTeclado .Acoes .Corrige {
  padding: 5px 10px;
  height: 50px;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: orange;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(212, 140, 5);
}

.Urna .UrnaTeclado .Acoes .Corrige:hover {
  background-color: orange;
}

.Urna .UrnaTeclado .Acoes .Corrige:active {
  background-color: orange;
  box-shadow: 0 5px rgb(212, 140, 5);
  transform: translateY(4px);
}

.Urna .UrnaTeclado .Acoes .Branco {
  padding: 5px 10px;
  height: 50px;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(212, 212, 212);
}

.Urna .UrnaTeclado .Acoes .Branco:hover {
  background-color: white;
}

.Urna .UrnaTeclado .Acoes .Branco:active {
  background-color: white;
  box-shadow: 0 5px rgb(212, 212, 212);
  transform: translateY(4px);
}
